
/* A font by Jos Buivenga (exljbris) -> www.exljbris.com */
@font-face {
    font-family: "Fontin Sans";
    font-weight: normal;
    font-style: normal;
    src: url("/fonts/Fontin_Sans_R_45b.otf");
}

@font-face {
    font-family: "Fontin Sans Bold";
    src: url("/fonts/Fontin_Sans_B_45b.otf");
}

@font-face {
    font-family: "Fontin Sans Italic";
    src: url("/fonts/Fontin_Sans_I_45b.otf");
}

body {
    margin: 0 auto;
    width: 600px;
    word-wrap: break-aword;
    font-family: "Fontin Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background: #efefef;
}

strong {
    font-family: "Fontin Sans Bold", sans-serif bold;
}

em {
    font-family: "Fontin Sans Italic", sans-serif italic;
}


a {
    color: #0063DC;
    text-decoration: none;
}

a:hover {
    /*border-bottom: 1px solid #003372;*/
    background: #DDF1FA;
}

.plkt-footer a:hover {
    color: black !important;
}

a img {
    border-width: 0;
}

.post {
    margin: 2em 0 2em 0;
}

h1 {
    font-size: 1em;
    font-weight: normal;
}

.post h1 {
    font-size: 1.1em;
    font-weight: bold;
}

h2, h3 {
    font-size: 1em;
}

.contentLicense {
    font-size: 12px;
    line-height: 16px;
}

pre {
    font-size: 12px;
    line-height: 14px;
    margin: 0;
}

code {
    font-size: 13px;
}

.gist .gist-file .gist-meta {
    font-size: 75% !important;
}

blockquote {
    color: #787878;
    border-left: 5px solid #d0d0d0;
    padding-left: 16px;
}

.light {
    color: #787878;
}

#title, h1.inner {
    margin: 4em 0 0 0;
    clear: right;
}

h1.inner {
    text-align: right;
    font-style: italic;
}

#disqus_thread {
    margin-top: 50px;
}

#footer {
    text-align: center;
}

.archive ul {
    -webkit-padding-start: 0;
    padding-left: 0;
}

.archive li {
    list-style-type: none;
    margin: 0 !important;
    padding: 5px 0;
    border-top: 1px solid #d5d5d5;
}

.archive li.last {
    border-bottom: 1px solid #d5d5d5;
}

.archive .postDate {
    float: left;
    width: 110px;
    color: #666;
}
