---
layout: default
title: Web Home
description: <meta content="The homepage of Marko Anastasov. Contains a blog and links to profiles on other websites." name="description" />
---

{% for post in site.posts limit:1 %}
  <div class="post">
    <h1>{{ post.title }}</h1>
    {{ post.content }}
    <p class="signoff">
      &#x270E; <a href="{{ post.url }}" title="Permanent link">{{ post.date | date: "%b %d, %Y" }}</a>
    </p>
  </div>
{% endfor %}

<div class="post archive">
  <ul>
  {% for post in site.posts offset:1 limit:4 %}
    <li class="inner">
      <span class="postDate">{{ post.date | date: "%b %d, %Y"  }}</span>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
    <li class="last"><span class="postDate">Monocolor</span><a href="/archive">&hellip;</a></li>
  </ul>
</div>
