<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    {{ page.description }}

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/default.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <link rel="alternate" type="application/atom+xml" title="Marko Anastasov" href="/atom.xml" />
    
    <link rel="openid.server" href="http://server.myid.net/server" />
    <link rel="openid.delegate" href="http://marko.myid.net/" />
    <meta http-equiv="X-XRDS-Location" content="http://marko.myid.net/xrds" />

    <title>{{ page.title }} &mdash; Marko Anastasov</title>
  </head>
  <body>
    <header>
      <h1 id="title">
        <a href="/about" title="About">Marko Anastasov</a> <span class="light">has a</span> <a href="/" title="Home">website</a>
        {% if page.title == 'Web Home' %}
          <span class="light">where he last wrote about</span>
          {% for post in site.posts offset:0 limit:1 %}
            <a href="{{ post.url }}">{{ post.title }}</a><span class="light">:</span>
          {% endfor %}
        {% endif %}
      </h1>
    </header>
    <div id="wrapper">
      {{ content }}
      <footer id="footer">
        <p>
          <a href="/" title="Home">Home</a> &middot;
          <a href="/about" title="About the author and site">About</a> &middot;
          <a href="/plans" title="Events I'm planning to attend">Plans</a> &middot;
          <a href="/archive" title="All writing ever">Archive</a> &middot;
          <a href="/atom.xml" title="Blog's Atom feed">Feed</a>
        </p>
        <p class="contentLicense">
          &copy; 2007-present <a href="/about">Marko Anastasov</a>
        </p>
      </footer>
    </div>
    {% include analytics.html %}
  </body>
</html>
