<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="en-us" http-equiv="Content-Language" />
    {{ page.description }}

    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/css/default.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <link rel="alternate" type="application/atom+xml" title="Marko Anastasov" href="http://feeds.feedburner.com/markoanastasov" />
    
    <link rel="openid.server" href="http://server.myid.net/server" />
    <link rel="openid.delegate" href="http://marko.myid.net/" />
    <meta http-equiv="X-XRDS-Location" content="http://marko.myid.net/xrds" />

    <title>{{ page.title }} &mdash; Marko Anastasov</title>
  </head>
  <body>
    <header>
      {% if page.title == 'Web Home' %}
        <h1 id="title">
          Marko Anastasov <span class="light">Rendered Text / Plakatt</span>
        </h1>
      {% else %}
        <h1 id="title" class="inner light">
          A website of <a href="/about" title="About">Marko Anastasov</a>
        </h1>
      {% endif %}
    </header>
    <div id="wrapper">
      {{ content }}
      <footer id="footer">
        <p>
          <a href="/" title="Home">Home</a> &middot;
          <a href="/about" title="About the author and site">About</a> &middot;
          <a href="/archive" title="A chronological list of all blog posts">Archive</a> &middot;
          <a href="http://feeds.feedburner.com/markoanastasov" title="Subscribe to this blog">Feed</a> &middot;
          <a href="http://twitter.com/markoa" rel="me">@markoa</a> &middot;
          <a href="http://flickr.com/photos/manastasov" rel="me">It did happen</a> &middot;
          <a href="http://tackazvezda.com" rel="me">Na srpskom</a>
        </p>
        <p class="contentLicense">
          &copy; 2007-present <a href="/about">Marko Anastasov</a>
        </p>
      </footer>
    </div>
    {% include analytics.html %}
  </body>
</html>
